.App {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-container {
  display: flex
}

.login-image-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.login-image {
  /* height: 80vh; */
  width: 50vw;
}

.navbar {
  /* position: fixed; */
  /* width: 100vw; */
}

/* .tabcontent {
  display: none;
} */

.league-logo {
  height: 20vh;
}

.league-logo:hover {
  cursor: pointer;
}

.first-pick-container {
  display: grid;
}

.NBA-home-container {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* column-gap: 500px; */
}

.both-standings {
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  /* align */
  /* height: 100vh; */
}

/* table {
  height: 100vh
}

tr {
  height: 1px;
} */

/* .NBA-news-container {
  height: 100vh;
} */

.NBA-standings-container {
  /* width: 15vw; */
  /* height: 100vh; */
  /* margin-left: auto; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5vw;
}

.NBAplayers-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 5vw;
  row-gap: 5vh;
  /* margin-right: auto; */
}

.player-pic {
  /* top: 1000px; */
  margin-left: 3vw;
}

.player-pic:hover {
  cursor: pointer;
}

.player-container {
  position: relative;
  background-size: 300px 250px; 
  background-repeat: no-repeat;
  background-position: -25% 0%
}


.team-logo-backdrop {
  position: absolute;
  opacity: 0.7;
  z-index: -1;
  width: 300px;
  height: 230px;
  top: 1vh;
  right: 8vw;
}

.modal-background {
  background-size: 300px 250px; 
  background-repeat: no-repeat;
  background-position: -77%;
  background-color: rgba(255, 255, 255, 0.4); 
  background-blend-mode: lighten
}

.NBA-stats {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 10% 1fr 1fr 1fr;
  border: 1px solid red
}

.micro-logo {
  height: 6vh;
  width: 6vw
}

/* td.micro-container {
  padding: 0 !important;
  width: 20% !important;
} */

/* td {
  padding: 0 !important;
}

.squid {
  display: flex;
} */

.all-stat-container {
  grid-column: 1/3;
}

.stat {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
}

.modal-total {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-header {
  /* background-image: linear-gradient(#1D1160, #00788C); */
  display: grid;
  grid-template-columns: 15% 1fr 1fr;
}

.user-dashboard {
  display: grid;
  /* grid-template-columns: 25% 25% 50%; */
  grid-template-columns: 1fr 1fr 1fr;
}

/* .user-player-picture {

} */

