.App {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-container {
  display: flex
}

.login-image-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.login-image {
  /* height: 80vh; */
  width: 50vw;
}

.navbar {
  /* position: fixed; */
  /* width: 100vw; */
}

/* .tabcontent {
  display: none;
} */

/* .league-logo {
  height: 20vh;
  animation: Slide_Up 2s ease;
} */

.nba-pick-logo {
  height: 20vh;
  animation: Slide_Up 1.4s;
}

.nfl-pick-logo {
  height: 20vh;
  animation: Slide_Up 3.4s;
  /* animation-delay: 2.5s */
}

.epl-pick-logo {
  height: 20vh;
  animation: Slide_Up 4.5s;
}

.pick-logo-container {
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
}

.pick-name {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 5em;
}

.pick-name-nba {
  animation: Slide_Left 1.4s
}

.pick-name-nfl {
  animation: Slide_Left 3.4s
}

.pick-name-epl {
  animation: Slide_Left 4.5s
}

.league-logo:hover {
  cursor: pointer;
}

.first-pick-container {
  display: grid;
  /* margin: auto; */
  /* margin-right: auto; */
  /* align-content: center; */
}

.league-home-container {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* column-gap: 500px; */
}

.both-standings {
  /* margin-bottom: auto; */
  /* margin-right: auto; */
  /* margin-left: auto; */
  /* display: grid; */
  grid-column: 1/3;
  /* align */
  /* height: 100vh; */
}

/* table {
  height: 100vh
}

tr {
  height: 1px;
} */

/* .NBA-news-container {
  height: 100vh;
} */

.NBA-standings-container {
  /* width: 15vw; */
  /* height: 100vh; */
  /* margin-left: auto; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5vw;
}

.NBAplayers-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5vw;
  row-gap: 5vh;
  /* margin-right: auto; */
}

.player-pic {
  /* top: 1000px; */
  margin-left: 3vw;
}

.player-pic:hover {
  cursor: pointer;
}

.player-container {
  position: relative;
  background-size: 300px 250px; 
  background-repeat: no-repeat;
  background-position: -25% 0%
}


.team-logo-backdrop {
  position: absolute;
  opacity: 0.7;
  z-index: 0;
  width: 300px;
  height: 230px;
  top: 1vh;
  right: 12vw;
}

.player-pic {
  position: relative;
  z-index: 1;
}

.modal-background {
  background-size: 300px 250px; 
  background-repeat: no-repeat;
  background-position: -77%;
  background-color: rgba(255, 255, 255, 0.4); 
  background-blend-mode: lighten
}

.NBA-stats {
  /* grid-column: 1/3; */
  display: grid;
  grid-template-columns: 10% 1fr 1fr 1fr;
  border: 1px solid red
}

.micro-logo {
  height: 6vh;
  width: 6vw;
  padding: 0px;
  margin: 0px;
}

/* td.micro-container {
  padding: 0 !important;
  width: 20% !important;
} */

td {
  padding: 0 !important;
  /* margin-right: 0px; */
}

/* th {
  padding: 0 !important;
} */

.squid {
  display: flex;
  align-items: center;
  width: 7vw;
  /* width: 10% */
}

.all-stat-container {
  grid-column: 1/3;
}

.stat {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
}

.modal-total {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-header {
  /* background-image: linear-gradient(#1D1160, #00788C); */
  display: grid;
  grid-template-columns: 15% 1fr 1fr;
}

.user-dashboard {
  display: grid;
  /* grid-template-columns: 25% 25% 50%; */
  grid-template-columns: 2fr 1fr;
}

/* .user-player-picture {

} */

.top-headline-img {
  height: 10vh;
  width: auto;
}

.dashboard-news {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 2vh;
}

.top-headline-news {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  /* position: relative; */
  border-bottom: 1px solid green;
}

.top-headline-news:hover {
  transform: scale(1.1); 
}

.article-btn {
  margin-bottom: 0;
}

.user-player-picture {
  height: 95px;
  width: 130px;
}


.upcoming-games {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.daily-games {
  display: flex;
  border: 1px solid red
}

.schedule-img {
  height: 8vh;
  width: auto;
}

/* #carouselExampleIndicators {
  height: 40vh;
  width: auto;
} */

.NFL-news-container {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
}

.homepage-tm-img {
  height: 12vh;
  width: auto;
}

@keyframes Slide_Up {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes Slide_Left {
  0% {
    transform: translateX(250px);
  }
  100% {
    transform: translateX(0);
  }
}

/* .horizontal-break {
  position: absolute;
  margin-top: 7vh;
} */

.user-leagues {
  border: 1px solid red;
  background-color: gray;
}


.user-players {
  border: 1px solid green;
  background-color: yellow;
}

.player-index {
  display: grid;
  /* grid-template-rows: 10%; */
  grid-template-columns: 12% 88%;
  background-color: black;
  /* z-index: -5; */
}

.filters {
  /* background-color: grey; */
  /* border: 1px solid red; */
  grid-row-start: 2;
  height: 100vh;
}

.nba-player-index-banner {
  grid-column: 1/3;
  height: auto;
  width: 100vw;
}

.nfl-player-banner {
  grid-column: 1/3;
  height: 25vh;
  width: 100vw;
  overflow: hidden;
}

.nfl-player-index-banner {
  /* grid-column: 1/3; */
  /* height: auto; */
  /* width: 100vw; */
  /* object-fit: scale-down; */
  /* position: absolute; */
  /* top: 500px; */
}

.player-name, .filter-header {
  font-family: 'Anton', sans-serif;
  color: white;
}